


.parameter-menu-container {
    position: absolute;
    color: yellow;
    background-color: rgba(24, 24, 23, 0.521);
    padding: '10px';
    border-radius: '5px';
    z-index: 40;
    margin-top: 100px;
    margin-left: 90vw;
}